<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}"
      lang="ko">
<head><title th:text="#{sch.detail.title}">일정 상세</title></head>
<body>
<main layout:fragment="content">
    <div class="page-title-bar">
        <div class="container-fluid px-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}" th:text="#{nav.home}">홈</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/schedule}" th:text="#{sch.list.title}">일정관리</a></li>
                    <li class="breadcrumb-item active" th:text="#{sch.crumb.detail}">상세</li>
                </ol>
            </nav>
            <h2 th:text="#{sch.detail.title}">일정 상세</h2>
        </div>
    </div>
    <div class="container-fluid px-4">
        <div class="krds-panel">
            <div class="krds-panel-body">
                <div class="krds-table-wrap">
                    <table class="tbl col">
                        <caption th:text="#{sch.detail.caption}">일정 상세 정보</caption>
                        <colgroup><col style="width:150px"/><col/><col style="width:150px"/><col/></colgroup>
                        <tbody>
                        <tr>
                            <th scope="row" class="text-center bg-light" th:text="#{sch.field.nm}">일정명</th>
                            <td colspan="3" th:text="${schedule?.schdulNm}">-</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-center bg-light" th:text="#{sch.field.bgn}">시작일시</th>
                            <td th:text="${schedule?.schdulBeginde}">-</td>
                            <th scope="row" class="text-center bg-light" th:text="#{sch.field.end}">종료일시</th>
                            <td th:text="${schedule?.schdulEndde}">-</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-center bg-light" th:text="#{sch.field.place}">장소</th>
                            <td th:text="${schedule?.schdulPlace}">-</td>
                            <th scope="row" class="text-center bg-light" th:text="#{sch.field.mngr}">담당자</th>
                            <td th:text="${schedule?.schdulChargerId}">-</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-center bg-light" th:text="#{sch.field.cn}">내용</th>
                            <td colspan="3" th:text="${schedule?.schdulCn}">-</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="krds-panel-body d-flex justify-content-between" style="border-top:1px solid var(--krds-gray-10,#E7E8EA);">
                <a th:href="@{/schedule}" class="krds-btn tertiary small">
                    <i class="bi bi-list-ul"></i> <span th:text="#{com.btn.list}">목록</span>
                </a>
                <th:block sec:authorize="isAuthenticated()">
                    <div class="d-flex gap-2">
                        <a th:href="@{/schedule/{id}/update(id=${schedule?.schdulId})}" class="krds-btn secondary small">
                            <i class="bi bi-pencil"></i> <span th:text="#{com.btn.edit}">수정</span>
                        </a>
                        <form th:action="@{/schedule/{id}/delete(id=${schedule?.schdulId})}" method="post" id="delSchForm" class="d-inline">
                            <button type="button" class="krds-btn danger small"
                                    th:onclick="'if(confirm(\'' + #{sch.confirm.delete} + '\')) document.getElementById(\'delSchForm\').submit()'">
                                <i class="bi bi-trash"></i> <span th:text="#{com.btn.delete}">삭제</span>
                            </button>
                        </form>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</main>
</body>
</html>
